<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Drive</title>
</head>
<body>
<div id="main">
  <div class="container-custom">
    <div class="sidebar-drive">
      <div class="logo-drive">
      </div>
      <div class="menu-sidebar">
        <ul>
          <li class="active"><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i><span>Dasboard</span></a>
          </li>
          <li><a href=""><i class="fa fa-list" aria-hidden="true"></i><span>Logs</span></a></li>
          <li><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i><span>Drivers</span></a></li>
          <li><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i><span>Vehicles</span></a></li>
          <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i><span>Settings</span></a></li>
        </ul>
      </div>
      <div class="logo-footer-sidebar">
        <img src="../images/CompanyBanner.PNG" alt="logo">
      </div>
    </div>
    <div class="content">
      <div class="header">
        <div class="header-drive">
          <i class="list-menu-icon fa fa-bars" aria-hidden="true"></i>
          <ul>
            <li class="icon-bell-details"><a href=""><i class="fa fa-bell" aria-hidden="true"><span>10</span></i></a>
            </li>
            <li class="icon-bell-details"><a href=""><i class="fa fa-envelope" aria-hidden="true"><span>1</span></i></a>
            </li>
            <li class="img-avatar-icon"><img src="../images/bg@3x.jpg" alt="logo"><i class="fa fa-chevron-down"
                                                                                      aria-hidden="true"></i></li>
          </ul>
        </div>
        <div class="title-drive-content">
          <h2>DRIVERS</h2>
        </div>
      </div>
      <div class="content-drive-details">
        <div class="drive-details">
          <div class="drive-details-left">
            <div class="avatar-details">
              <img src="../images/bg@3x.jpg" alt="logo">
              <h5>Roy Nichols</h5>
              <a href="" class="icon-pen"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
            <div class="content-detail-left">
              <p class="state">EMAIL ADDRESS</p>
              <h6>roy.nichols@gmail.com</h6>
              <p class="state">PHONE NUMBER</p>
              <h6>MO</h6>
            </div>
            <div class="details-email">
              <p class="state">LICENSE NUMBER</p>
              <h6 class="blue">SAM671234</h6>
              <p class="state">COL STATE</p>
              <h6 class="blue">+1-555-424-3535</h6></h6>
            </div>
            <!--<div class="status-bottom">-->
              <!--<div class="btn-startut">-->
                <!--<h3>ELD Authorization</h3>-->
                <!--<label class="switch status-slider">-->
                  <!--<input type="checkbox" checked>-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->
              <!--<p>Authorizing thí driver allows them to use their email address to connect to a DRIVEdld device.</p>-->
              <!--<h4>ELD AUTHORIZATION LEFT:</h4>-->
              <!--<span class="number">0</span>-->
              <!--<a class="btn-submit-adddress" href="">BUY MORE SUBSCRIPTIONS</a>-->
            <!--</div>-->
          </div>
          <div class="drive-details-right">
            <h1>Current Trip <span>-June 6, 2017</span></h1>
            <div class="content-chart">
              <div class="header-icon-copy">
                <div class="header-icon">
                  <a href="" class="active icon-copy"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                  <a href="" class="icon-list-top"><i class="fa fa-list" aria-hidden="true"></i></i></a>
                </div>
                <h1>Roy's Logs</h1>
              </div>
              <div class="header-datetimme">
                <div class="header-icon">
                  <a href=""><i class="fa fa-arrow-left icon-prev-left" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-calendar" aria-hidden="true"></i></a>
                </div>
                <p>August 1, 2017</p>
                <div class="header-icon-right">
                  <a href="" class="icon-pen"><i class="fa fa-download" aria-hidden="true"></i></a>
                  <a href="" class="icon-pen"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="content-heading-detail">
                <div class="icon-status-modal">
                  <div class="check-everthing alert-danger">
                    <p><i class="fa fa-minus-circle red icon-alert-danger" aria-hidden="true"></i>  There are some errors. Please correct them and try again.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="content-detail-left">
                      <div class="title-location-detail">
                        <p class="heading-details">DUTY CYLLE</p>
                        <p class="title-location">US Property 70hr/8day</p>
                      </div>
                      <div class="title-location-detail">
                        <p class="heading-details">CO-DRIVER</p>
                        <p class="co-driver blue">David Nichols</p>
                      </div>
                      <div class="title-location-detail">
                        <p class="heading-details">CMV POWER UNIT NO. CYLLE</p>
                        <p class="title-location">BG532536</p>
                      </div>
                      <div class="title-location-detail">
                        <p class="heading-details">SHIPPING DOCUMENT NO.</p>
                        <p class="title-location">5436775444</p>
                      </div>
                      <div class="title-location-detail">
                        <p class="heading-details">STARTING LOCATION</p>
                        <p class="title-location">2 mi SE of Fargo, ND</p>
                      </div>
                      <div class="title-location-detail">
                        <p class="heading-details">TOTAL VEHICLEMILES</p>
                        <p class="title-location">1205mi</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="col-md-6">
                      <div class="details-child-left">
                        <div class="title-location-detail">
                          <p class="heading-details">CREEENT DUTY STARUS</p>
                          <div class="status-duty">
                            <p class="status driving black">SIGNED</p>
                          </div>
                        </div>
                        <div class="title-location-detail">
                          <p class="heading-details">CO-DRIVE ELD USERNAME</p>
                          <p class="title-location">dnichols@gmail.com</p>
                        </div>
                        <div class="title-location-detail">
                          <p class="heading-details">CMV VINO.</p>
                          <p class="title-location">235782975897</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="details-child-right">
                        <div class="title-location-detail">
                          <p class="heading-details">VEHICLE REPORT (DVIR) STATUS</p>
                          <div class="status-duty">
                            <p class="status driving">SIGNED</p>
                          </div>
                        </div>
                        <div class="title-location-bottom trailer-no-title">
                          <p class="heading-details">TRAILER NO</p>
                          <p class="title-location">BG532536</p>
                        </div>
                        <!--<div class="title-location-detail">-->
                          <!--<p class="heading-details">TRAILER NO.</p>-->
                          <!--<div class="status-duty">-->
                            <!--<p class="status unsigned white">MISSING</p>-->
                          <!--</div>-->
                        <!--</div>-->
                      </div>
                    </div>
                    <div class="content-details-right">


                      <div class="content-details-right-bottom">
                        <div class="title-location-bottom title-location-center">
                          <p class="heading-details">ENDING LOCOTION</p>
                          <p class="title-location">10 mi W of Rock Island, IL</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="details-child-left">
                          <div class="title-location-detail">
                            <p class="heading-details">TOTAL ENGINE HOURS</p>
                            <p class="title-location">10 hr 45 min 28 sec</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="details-child-right">
                          <div class="title-location-detail">
                            <p class="heading-details">TOTAL MILES DRIVEN</p>
                            <p class="title-location">1200 mi</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="daily-log_list-log">
                <strong class="title-log-event">LOGS EVENTS</strong>
                <ul>
                  <li>
                    <div class="circle-animate purple">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <table>
                      <thead>
                      <tr>
                        <td class="td-first"><p class="purple">SLEEPER BERTH</p></td>
                        <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                      </tr>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                      </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <div class="circle-animate orange">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <table>
                      <thead>
                      <tr>
                        <td class="td-first"><p class="orange">SLEEPER BERTH</p></td>
                        <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                      </tr>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                      </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <div class="circle-animate green">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <table>
                      <thead>
                      <tr>
                        <td class="td-first"><p class="green">SLEEPER BERTH</p></td>
                        <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                      </tr>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                      </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <div class="circle-animate blue">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <table>
                      <thead>
                      <tr>
                        <td class="td-first"><p class="blue">SLEEPER BERTH</p></td>
                        <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                      </tr>
                      <tr>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                        <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                      </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>


                <!--<div class="user-driver-details">-->
                  <!--<div class="icon-user-detaile">-->
                    <!--<i class="icon-user-unfollow" aria-hidden="true"></i>-->
                  <!--</div>-->
                  <!--<div class="content-user">-->
                    <!--<p>Craig Luna is |<span>currently not authorized</span> to use an LED device and is not workng for tis-->
                      <!--carrier today.</p>-->
                    <!--<p>If yoou would like Craig Luna to work for your carrier today, please authorize them.</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="submit-btn-detaile">-->
                  <!--<a href="#">GO TO DRIVER'S PAST LOGS</a>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
<script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
  $('.list-menu-icon').click(function () {
    $(".sidebar-drive").toggle();
  });
</script>