<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Drive</title>
</head>
<body>
    <div id="main">
      <div class="container-custom">
        <div class="sidebar-drive">
          <div class="logo-drive">
          </div>
          <div class="menu-sidebar">
            <ul>
              <li class="active"><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i><span>Dasboard</span></a></li>
              <li><a href=""><i class="fa fa-list" aria-hidden="true"></i><span>Logs</span></a></li>
              <li><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i><span>Drivers</span></a></li>
              <li><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i><span>Vehicles</span></a></li>
              <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i><span>Settings</span></a></li>
            </ul>
          </div>
          <div class="logo-footer-sidebar">
              <img src="../images/CompanyBanner.PNG" alt="logo">
          </div>
        </div>
        <div class="content">
            <div class="header">
              <div class="header-drive">
                 <i class="list-menu-icon fa fa-bars" aria-hidden="true"></i> 
                <ul>
                  <li class="icon-bell-details"><a href=""><i class="fa fa-bell" aria-hidden="true"><span>10</span></i></a></li>
                  <li class="icon-bell-details" ><a href=""><i class="fa fa-envelope" aria-hidden="true"><span>1</span></i></a></li>
                  <li class="img-avatar-icon"><img src="../images/bg@3x.jpg" alt="logo"><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="title-drive-content">
                <h2>DRIVERS</h2>
              </div>
            </div>
          <div class="content-drive-details">
            <div class="drive-details">
              <div class="content-logs-edit">
                <div>
                  <h4>Tools</h4>
                  <p class="title-logs-edit">Select a textfield you want to change or a log events you want to change or delete.</p>
                  <p class="title-logs-edit">Save changes after you are finished.</p>
                </div>
                <div class="list-left-icon">
                  <div class="icon-insert-top">
                    <span>
                      <i class="ion-android-add" aria-hidden="true"></i>
                    </span>
                    <p class="title-insert text-center">INSERT EVENT</p>
                  </div>
                  <div class="icon-insert-top icon-insert-center">
                    <span>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                    <p class="title-insert text-center">REVERT BACK</p>
                  </div>
                  <div class="icon-insert-top icon-insert-bottom">
                    <span data-toggle="modal" data-target="#myModal">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                    <p class="title-insert text-center">SAVE CHANGES</p>
                  </div>
                </div>
              </div>
              <div class="drive-details-right content-logs-edit-right">
                <div class="everthing">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="alerts-driver text-left alert-success">
                        <span><i class="fa fa-check" aria-hidden="true"></i></span>
                        <p>Everything is up to date</p>
                      </div>
                      <div class="alerts-driver text-left alert-danger icon-alert-circle">
                        <i class="fa fa-minus-circle red" aria-hidden="true"></i>
                        <p>Everything is up to date</p>
                      </div>
                      <div class="alerts-driver alerts-driver-warning text-left alert-warning">
                        <span><i class="fa fa-exclamation" aria-hidden="true"></i></span>
                        <p>Everything is up to date</p>
                      </div>
                      <div class="alerts-driver alerts-driver-warning text-left alert-warning">
                        <span><i class="fa fa-exclamation" aria-hidden="true"></i></span>
                        <div class="warning-logs-edit">
                          <p>Log must be re-signed</p>
                          <strong>Edits from 8/1/17 by Brian Severson (Carrier) need to be reconciled by the Driver and this log must be re-rigned!</strong>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="title-location-detail logs-edit-right">
                        <p class="heading-details">SIGNATURE STATUS</p>
                        <div class="status-duty">
                          <p class="status unsigned ">SIGNED</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content-chart content-logs-edit-page">
                  <div class="content-heading-detail">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="content-detail-left">
                          <div class="title-location-detail">
                            <p class="heading-details">DUTY CYLLE</p>
                            <p class="title-location">US Property 70hr/8day</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">DRIVER (IRST & LAST)</p>
                            <p class="title-location">Roy Nichols</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">CARRIER NAME</p>
                            <p class="title-location">Big Tom's Trucking LLC</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details"> CO-DRIVER (FIRST & LAST)</p>
                            <p class="title-location">David Nichols</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">CMV POWER UNIT NO.</p>
                            <p class="title-location">BG532536</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">SHIPPING DOCUMENT NO</p>
                            <p class="title-location">5436775444</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">STARTING LOCATION</p>
                            <p class="title-location">2 mi SE of Fargo, ND</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">TOTAL VEHICLE NILES</p>
                            <p class="title-location">1205MI</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="content-detail-left">
                          <div class="title-location-detail">
                            <p class="heading-details">DATE</p>
                            <p class="title-location">8/1/17</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">DRIVER'S LICESE NO.</p>
                            <p class="co-driver">SAM671234</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">TIMEZONE OFFSET FROM UTC</p>
                            <p class="title-location">UTC-6h</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">CO-DRIVER ELD USERNAME</p>
                            <p class="title-location bg-yellow">d.nichols1@gmail.com</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">CMV VIN NO.</p>
                            <p class="title-location">BG532536</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">TRAILER NO.</p>
                            <div class="status-duty">
                              <p class="status unsigned white">MISSING</p>
                            </div>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">ENDING LOCATION</p>
                            <p class="title-location">10mi W of Rock Island, IL</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">TOTAL ENGINE HOURS</p>
                            <p class="title-location">10 hr 45 min 28 sec</p>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">TOTAL ENGINE HOURS</p>
                            <p class="title-location">10 hr 45 min 28 sec</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="content-detail-left">
                          <div class="title-location-detail icon-edit-logs-right">
                            <div class="icon-edit-logs">
                              <a href="" class="icon-pen icon-pen-logs"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              <p>Edit</p>
                            </div>
                          </div>
                          <div class="title-location-detail">
                            <p class="heading-details">CO-DRIVER</p>
                            <p class="co-driver">David Nichols</p>
                          </div>
                          <div class="title-location-detail title-location-detail-heading ">
                            <p class="heading-details">CMV POWER UNIT NO. CYLLE</p>
                            <p class="title-location">BG532536</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-white">
                  <div class="daily-log_list-log">
                    <strong class="title-log-event">LOGS EVENTS</strong>
                    <ul>
                      <li>
                        <div class="circle-animate purple">
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                        <table>
                          <thead>
                          <tr>
                            <td class="td-first"><p class="purple">SLEEPER BERTH</p></td>
                            <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                          </tr>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                          </tr>
                          </tbody>
                        </table>
                      </li>
                      <li>
                        <div class="circle-animate orange">
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                        <table>
                          <thead>
                          <tr>
                            <td class="td-first"><p class="orange">SLEEPER BERTH</p></td>
                            <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                          </tr>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                          </tr>
                          </tbody>
                        </table>
                      </li>
                      <li>
                        <div class="circle-animate green">
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                        <table>
                          <thead>
                          <tr>
                            <td class="td-first"><p class="green">SLEEPER BERTH</p></td>
                            <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                          </tr>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                          </tr>
                          </tbody>
                        </table>
                      </li>
                      <li>
                        <div class="circle-animate blue">
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                        <table>
                          <thead>
                          <tr>
                            <td class="td-first"><p class="blue">SLEEPER BERTH</p></td>
                            <td class="td-last"><span class="status-time"><span class="black">2</span> hr <span class="black"> 25 </span>min</span></td>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-map-marker"></i> 5 mi N of Iowa City, IA</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> Driver</p></td>
                          </tr>
                          <tr>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00:34 pm</p></td>
                            <td class="td-first"><p><i class="fa fa-clock-o" aria-hidden="true"></i> I was taking a nap while David was driving.</p></td>
                          </tr>
                          </tbody>
                        </table>
                      </li>
                    </ul>


                    <!--<div class="user-driver-details">-->
                    <!--<div class="icon-user-detaile">-->
                    <!--<i class="icon-user-unfollow" aria-hidden="true"></i>-->
                    <!--</div>-->
                    <!--<div class="content-user">-->
                    <!--<p>Craig Luna is |<span>currently not authorized</span> to use an LED device and is not workng for tis-->
                    <!--carrier today.</p>-->
                    <!--<p>If yoou would like Craig Luna to work for your carrier today, please authorize them.</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="submit-btn-detaile">-->
                    <!--<a href="#">GO TO DRIVER'S PAST LOGS</a>-->
                    <!--</div>-->
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog popup-large" role="document">
        <div class="modal-content popup-content-driver">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title title-modal-driver" id="myModalLabel"><i class="fa fa-user-plus icon-page" aria-hidden="true"></i><span> Change Header Information</span></div>
          </div>
          <div class="modal-body">
            <p>Change any field in this log's header (the meta-data at the top of each  log). <span class="careful">Be careful:</span> Overriding the current Hours of Service rules can substantially impact the log.</p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">SELECT DUTY CYCLE</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <select class="form-control">
                    <option>US Property 70hr/8day</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">FIRST NAME</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" placeholder="Roy">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">DRIVER'S LICENSE #</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" placeholder=SAM671234>
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label for="">CARRIER NAM</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" placeholder="Big Tom's Trucking LLC">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">24-HR STARTING TIME</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <select class="form-control">
                    <option>00:00:00</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">CMVPOWER UNIT #</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" placeholder="BG532536">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">CO-DRIVER FIRST NAME</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" placeholder="David">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">SHIPPING DOCUMENT</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" placeholder="543677444">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">STARTING LOCATION</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" value="2 mi SE  of Fargo, ND">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">date</span></label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" id="" placeholder="Enter the Driver's Last Name">
                  <a href="" class="icon-date-time-picker"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">last name</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control"  value="Phone Number - Area Code First">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">DRIVER'S LICENSE STATE</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <select class="form-control">
                    <option>Please Select an Option</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">carrier dot #</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control"  value="Enter the driver's License Number">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">timezone offset from utc</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <select class="form-control">
                    <option>UTC -6H(CST)</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input"> CMV VIN #</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" value="Nichols">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">CO-DRIVER LAST NAME</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" value="Enter the driver's License Number">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">TRAILER #</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" placeholder="BG532536">
                </div>
                <div class="form-group form-modal-drive has-error-driver">
                  <label class="label-input">ENDING LOCATION</label>
                  <p class="validate-address-form">This is not a correct email address.</p>
                  <input type="email" class="form-control" value="10 mi W of Rock Island, IL">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn-cancel-driver" data-dismiss="modal">Cancel</a>
            <button type="button" href="" class="btn btn-add-driver">CHANGE INFORMATION<span><i class="fa fa-check-circle" aria-hidden="true"></i></span></button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
<script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.list-menu-icon').click(function(){
      $(".sidebar-drive").toggle();
  });
</script>