$black: #000;
$purple_coal:#1d2029;
$gray: #848da8;
$white:#fff;
$yellow: #fed014;
$red: #d83a3a;
$silver: #f3f3f3;
$blue: #007aff;
$lightgray: #d8d8d8;
$onduty:#f39c12;
$warning: #f39c12;
$driving:#34d27b;
$green: #34d27b;
$sleeper:#9694d7;
$offduty: #007aff;
$purple: #9694d7;
$off-duty: #007aff;
$eld:#7f7f7b;
$darkgray: #7e7e7a;
$violation:#e74e3f;
$bg-drive: #f9f9f9;
$gray91:#dfdfdf;
$gray81: #bdbec0;
$input-bg: #34363d;
// font size
$heading: 11px;
$status: 12px;
$mobile:13px;
$font-13: 13px;
$text-small: 11px;
$article: 14px;
$sidebar: 15px;
$title: 16px;
$name: 17px;
$number: 18px;
$address: 19px;
$avatar:20px;
$bottom:22px;



